@model IEnumerable<CourseManager.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Add new event</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div id="bootstrapModalFullCalendar"></div>
        </div>

    </div>
</div>
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">close</span>
                </button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="eventUrl" target="_blank">Event page</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" integrity="sha512-x/vqovXY/Q4b+rNjgiheBsA/vbWA3IVvsS8lkQSX1gQ4ggSJx38oI2vREZXpTzhAv6tNUaX81E7QBBzkpDQayA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script src="https://rawgit.com/moment/moment/2.8.2/min/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#bootstrapModalFullCalendar').fullCalendar({
                header:{
                    left: '',
                    center: 'prev title next',
                    right: ''
                },
                eventClick: function(event, jsEvent, view){
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#eventUrl').attr('href', event.url);
                    $('#fullCalModal').modal();
                    return false;
                },
                events: `@Url.Action("findallevents", "events")`
            })
        })
    </script>
}
@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet"/>
}
