@model VideoEdu


<div>
    Nazwa filmu: @Model.Name
</div>
<br />
Film:
<iframe width="560" height="315" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<a asp-page="/Videos/Delete"></a>

