@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Edu Training App bartekdsadsadsada </h1>
    <br/>
    <br/>
    <img src="https://educdnstorage.blob.core.windows.net/cdnblob/assets/bg/home-art.svg">
    <br />
    <h2>course manager - a one-of-a-kind application that supports the process of comprehensive training.</h2>
    <br />
    <br />
    <br />
    <h2>The online school of the future, now. Learn and develop your career at the same time!</h2>
    <br/>
    <h3> Motivation</h3>
    <p>task lists, short sessions - we draw on the achievements of neurobiology to make learning a pleasure.</p>
    <br/>
    <h3>Support and mentoring</h3>
    <p>People with similar interests form groups that support each other in learning. Our mentors follow the progress of the Teams.</p>
    <br/>
    <h3>Certificates and Tests</h3>
    <p>We implement the latest technology to create an irrefutable profile of skills and your digital CV.</p>
    <br/>
    <h3>Content created by us</h3>
    <p>In our professional studio in Poznań, in great quality, recorded by the best practitioners.</p>
    <br/>
     <!--sekcja z obrazkami-->
        <div class="row">
              <div class="col-md-4 col-xs-1">
                <img src="https://eduweb.pl/assets/icons/sun-energy-icon.svg" alt="" />
                <h3>fast learning</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
                  repellendus tempore vero architecto blanditiis consectetur et earum
                  ducimus aliquid!
                </p>
              </div>
              <div class="col-md-4 col-xs-1">
                <img src="https://eduweb.pl/assets/icons/hands-tool-icon.svg" alt="" />
                <h3>Good Support</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
                  repellendus tempore vero architecto blanditiis consectetur et earum
                  ducimus aliquid!
                </p>
              </div>
              <div class="col-md-4 col-xs-1">
                <img src="https://eduweb.pl/assets/icons/blockchain-icon.svg" alt="" />
                <h3>Certificates and Tests</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
                  repellendus tempore vero architecto blanditiis consectetur et earum
                  ducimus aliquid!
                </p>
              </div>
        </div>  
        <div class="row">
            <div class="col-md-4 col-xs-1">
            <img src="https://eduweb.pl/assets/icons/blocks-icon.svg" alt="" />
            <h3>Modulars trainings</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
            </p>
            </div>
            <div class="col-md-4 col-xs-1">
            <img src="https://eduweb.pl/assets/icons/hands-tool-icon.svg" alt="" />
            <h3>Effective leaarning</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
            </p>
            </div>
            <div class="col-md col-xs-1">
            <img src="https://eduweb.pl/assets/icons/coins-rain-icon.svg" alt="" />
            <h3>This pays off</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
            </p>
            </div>
        </div>
        <!--koniec sekcji z obrazkami-->
        <br />
        <br />
        <!--sekcja z wygranym ludzikiem-->
        
        <div class="row">
            <div class="col-md-6 col-xs-1">
                <img src="https://educdnstorage.blob.core.windows.net/cdnblob/assets/bg/nagroda.svg"/>
            </div>
   
               <div class="col-md-6 col-xs-1">
                   <h2>It pays off!</h2>
                <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea
              repellendus tempore vero architecto blanditiis consectetur et earum
              ducimus aliquid!
            </p>
            </div>
        </div>
        <!--koniec sekcjii z wygranym ludzikiem-->

</div>
