@using Microsoft.AspNetCore.Authorization
@model IEnumerable<CourseManager.Models.ArticleEdu>
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "";
}

<h1>Index</h1>
@if(User.IsInRole("Administrator") || User.IsInRole("Teacher"))
{
<p>
    <a asp-action="Create">Create New Article</a>
</p>    
}


<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="/ArticleEdus/Details/@item.Id">@item.Title</a> - @item.PublicationDate.ToString("f")
            </li>
        }
    </ul>
</div>

