/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 44px;
    letter-spacing: 3px;
    color: #40C9A2;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.logo {
    border-bottom: 2px solid #1b6ec2;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
}
.container {
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Home page css */
.home-pg-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}
.home-title {
    margin-bottom: 30px;
}
/* video details css */
.videoDetailContainer {
    min-height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video-title {
    margin-bottom: 50px;
}
.astro-container {
    z-index: -10;
}
.astro-container img {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
.yt__iframe {
    width: 100%;
}
/* materials css */
.materialsIco-container {
    margin-top:100px;
    overflow-x: hidden;
}
.materials__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.materials-computer {
    width: 500px;
}
}


.text-sm {
    font-size: 13px;
}


.image {
    width: 60px;
    height: 30px;
}

::placeholder {
    color: grey;
    opacity: 1;
}

input {
    padding: 2px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #EF5350;
        outline-width: 0;
    }

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.btn-red {
    background-color: #EF5350;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #fff;
}

    .btn-red:hover {
        box-shadow: 0 0 0 2px #EF5350;
    }

    .btn-red:focus {
        box-shadow: 0 0 0 2px #EF5350 !important;
    }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #EF5350;
}

@media screen and (max-width: 575px) {
    .border-line {
        border-right: none;
        border-bottom: 1px solid #EEEEEE;
    }
}

.border-edus {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    background-color: gainsboro;
}
