
@{
   
}

<h1>
    @*<a class="" asp-controller="Materials" asp-action="GetVideos">Videos</a>*@
    <a class="" asp-controller="Videos" asp-action="List">Videos</a>
</h1>
<br />
<h1>
    @*<a class="" asp-controller="Materials" asp-action="GetVideos">Videos</a>*@
    <a class="" asp-controller="QuizEdus" asp-action="Index">Quizzes</a>
</h1>
<br />
<h1>
    @*<a class="" asp-controller="Materials" asp-action="GetVideos">Videos</a>*@
    <a class="" asp-controller="ArticleEdus" asp-action="Index">Articles</a>
</h1>
